<mat-sidenav-container class="example-container">
  <mat-sidenav mode="over" [fixedInViewport]="true" opened mode="side">
    <mat-accordion>
      <a mat-button style="text-align: center">
        <mat-icon [routerLink]="['/home']">Home</mat-icon>
      </a>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Aplikacija
          </mat-panel-title>
          <mat-panel-description>
            Aplikacija za Banku
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-button [routerLink]="['/tip-racuna']">Tip Računa</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-button [routerLink]="['/klijent']">Klijent</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-button [routerLink]="['/kredit']">Kredit</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-button [routerLink]="['/racun']">Račun</a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Informacije
          </mat-panel-title>
          <mat-panel-description>
            Osnovne informacije o aplikaciji
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-button [routerLink]="['/about']">Pomoć</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-button [routerLink]="['/author']">Autor</a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>
