<div class="container">
  <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje klijenta </h3>
  <h3 mat-dialog-title *ngIf="flag == 2">Modifikacija klijenta : {{data.id}}</h3>
  <h3 mat-dialog-title *ngIf="flag == 3">Brisanje klijenta : {{data.id}}</h3>

  <form class="mat-dialog-content" #formControl="ngForm">


    <div class="form">
      <mat-form-field>
        <input matInput placeholder="Ime" [(ngModel)]="data.ime" name="ime" [disabled]="flag == 3">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <input matInput placeholder="Prezime" [(ngModel)]="data.prezime" name="prezime" [disabled]="flag == 3">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <input matInput placeholder="Broj Licne karte" [(ngModel)]="data.brojLk" name="brojLk" [disabled]="flag == 3">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <mat-select [(ngModel)]="data.kredit_id" placeholder="kredit" name="kredit" [disabled]="flag == 3">
          <mat-option *ngFor="let kredit of krediti" [value]="kredit.id">
            {{ kredit.naziv }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button *ngIf="flag == 1" type="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="add()">Sačuvaj</button>
      <button mat-button *ngIf="flag == 2" type="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="update()">Sačuvaj</button>
      <button mat-button *ngIf="flag == 3" type="submit" [mat-dialog-close]="1" (click)="delete()">Obriši</button>
      <button mat-button (click)="cancel()" tabindex="-1">Poništi</button>
    </div>
  </form>
  </div>
